#username{
    position: absolute;
    top: 15px;
    left: 17%;
    transform: translateX(-110%);
    width: 200px;
    padding: 1px;
    text-align: left;
}
#password{
    position: absolute;
    top: 49px;
    left: 17%;
    transform: translateX(-110%);
    width: 200px;
    padding: 1px;
    text-align: left;
}